*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.image img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

.header{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    width: 100%;
    height: 65px;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

.logo{
    margin-left: 30px;
    font-size: 1.6rem;
}

.nav{
    margin-right: 70px;
    
}

li{
    list-style-type: none;
}

.ul_list{
    display: flex;
}

li a{
    text-decoration: none;
    padding: 5px 15px;
    font-size: 1.1rem;
    color: white;
}

li a:hover{
    color: rgb(238, 179, 179);
}

/* ------ Section-1 ------------*/
.sec1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0px;
  
}
.bmi-heading{
    display: flex;
    justify-content: center;
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 50px;
}

.sec1-inner{
    /* border: 2px solid black; */
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sec1-left{
    /* border: 2px solid red; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec1-right{
    width: 50%;
    display: flex;
    justify-content: center;
}

.sec1-right img{
    height: 250px;
}

.inputs{
    margin: 18px 0px;
    font-size: 1.5rem;
}

input{
    border: none;
    border-bottom: 1px solid rgb(93, 90, 90);
    font-size: 1.4rem;
}

.btn{
    padding: 4px;
    font-size: 1rem;
    margin: 5px 0px;
    width: 20%;
}

#result{
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: 600;
}

/* ------ Section-2 -------*/
.sec2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0px;
    /* background-color: rgb(248, 235, 235); */
}
.sec2-heading{
    display: flex;
    justify-content: center;
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 50px;
}
.sec2-left{
    width: 50%;
    display: flex;
    justify-content: center;
}

.sec2-left img{
    height: 350px;
}

.sec2-inner{
    /* border: 2px solid black; */
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sec2-right{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.sec3{
    display: none;
    padding: 30px 0px;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.calorie-tab-data{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.calorie-tabel table tr td{
    font-size: 1.2rem;
    padding: 8px 50px;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
}
table tr td p{
    font-size: 0.9rem;
}

/* --------section4 -----------*/
.sec4{
    padding: 70px 0px;
}

.btns{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0px;
}

.Products{
    width: 130px;
    padding: 4px 10px;
    margin: 20px;
    border: none;
    font-size: 0.9rem;
    box-shadow: 5px 5px 5px 1px #888888;
}

.icon{
    height: 17px;
  }

.product-table tr:nth-child(even) {
    background-color: #D6EEEE;
  }

.prod-table-data{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    justify-content: center;
  }
  
th, td {
    text-align: left;
    padding: 12px 25px;
}

.product-table table tr th{
    font-size: 1.1rem;
    /* padding: 8px 50px; */
}


#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    padding: 12px 0px;
}

.burger{
    display: none;
    position: absolute;
    top: 22px;
    right: 5%;
    cursor: pointer;
}

.line{
    width: 33px;
    background-color: rgb(255, 255, 255);
    height: 4px;
    margin: 5px 3px;
}

.bmi-btn{
    margin-top: 25px;
}

#active{
    background-color: rgb(170, 170, 221);
}

.input-weight{
    margin-left: 63px;
}

.t3{
    height: 28px;
}
/* ------- Media Queries -------------*/

@media only screen and (max-width:1044px){
    .header{
        height: 400px;
        background-color: #0b0b0b;
        transition: all 0.7s ease-out;
    }

    .nav-logo{
        display: none;
    }
    .logo{
        display: block;
        font-size: 1.1rem;
        margin-left: 22px;
    }
   

    .nav {
        margin-right: 0px;
        width: 100%;
    }

    .ul_list {
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    li {
        padding: 20px;
    }

    .burger{
        display: block;
    }

    .h-nav{
        height: 72px;
        background-color: black;
    }
   
    .image img{
        margin-top: 70px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .v-class{
        display:none;
    }

    .sec1-inner{
        flex-direction: column-reverse;
    }

    .sec1-left{
        padding-top: 30px;
    }
    .btn{
        width: 70%;
    }
    .sec2-inner{
        flex-direction: column;
    }

    .sec2-right{
        padding-top: 30px;
    }

    .sec3 {
        padding-top:0px;
    }

    .sec1{
        padding: 40px 0px;
    }
    .sec2{
        padding: 40px 0px;
    }

    .sec4 {
        padding: 40px 0px;
    }
    .sec2-heading {
        margin-bottom: 30px;
    }
    
    .bmi-heading {
        margin-bottom: 30px;
    }

    .Products{
        margin: 8px;
    }

    .prod-table-data{
        justify-content:flex-start;
      }
      
    th, td {
        padding: 8;
    }

    .input-weight{
        margin-left: 0px;
    }
}
    @media only screen and (max-width:480px){
        .image img{
            height: 330px;
        }
    }

    @media only screen and (max-width:370px){
        #h2-heading{
            font-size: 21px;
        }
         .calorie-tabel table tr td {
            padding: 8px 30px;
        }
    }

    

